@import "tailwindcss";

body {
  background-color: #242424;
}

h2 {
  margin: 0 0 20px 20px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

header > a,
header > a > img {
  display: inline;
  max-height: 75px;
}

header .user-menu {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-right: 10px;
  align-items: center;
  width: 263px;
}

footer {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: end;
  padding-right: 20px;
  position: sticky;
  height: 20px;
  top: calc(100vh - 20px);
  margin-bottom: 10px;
}

main {
  color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main > .video-container {
  width: 70vw;
  float: left;
}

aside {
  max-height: 100%;
  overflow-y: scroll;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  float: right;
  padding-left: 20px;
}

aside > a {
  display: flex;
  flex-direction: row;
}

aside > h2 {
  margin: 0;
  padding: 0;
}

aside img {
  margin-right: 10px;
}

aside nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

aside nav a {
  background-image: linear-gradient(to bottom, #22e5dc, #3f86ef);
  border-radius: 12px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  min-width: 100px;
  text-align: center;
}
button {
  cursor: pointer;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid grey;
  color: lightgray;
  border-radius: 10px;
  padding: 5px;
  width: 40vw;
}

.main-video-list {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.main-video-list a {
  width: 250px;
}

.channel-page {
  width: 100vw;
}

.channel-description,
.channel-playlists {
  margin: 10px;
}

.hero {
  background-image: linear-gradient(to bottom, #22e5dc, #3f86ef);
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 50px;
}

.hero img {
  border-radius: 50%;
  border: 8px solid #fff;
  width: 200px;
  box-shadow: 2px 2px #000;
}

.hero h1 {
  font-weight: bolder;
  padding-left: 40px;
  text-shadow: 2px 2px #000;
}

.comment-section {
  margin-top: 30px;
}

.comment-section > .likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-section .comment {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.comment-section .button-like {
  display: flex;
  height: 30px;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  border-radius: 0px;
  background: none;
}

.video-container {
  width: 70vw;
  float: left;
}
.recommended-video > img {
  width: 175px;
  height: 100px;
  border-radius: 12px;
}

.video-container {
  padding: 0 5px;
}

.video-container h2 {
  margin: 10px 0;
}

.recommended-video {
  margin-bottom: 15px;
}

.rvp-seekbar-played {
  background-image: linear-gradient(to right, #22e5dc, #3f86ef) !important;
}
.rvp-seekbar-thumb {
  background: #3f86ef !important;
}

.rvp-video {
  max-height: 80vh !important;
}

.channel-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.channel-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.channel-intro {
  display: block;
  height: 300px;
}

.channel-page nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}
.description-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  height: fit-content;
  transition: all 2s linear;
}

.description-box button {
  margin-left: 45%;
  transition: color 1s linear;
}

.description-box button:hover {
  color: grey;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid white;
  margin-right: 10px;
}

.avatar > img {
  width: 100%;
}

.avatar-letters {
  background-color: #f43f5e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
}

.avatar-icon {
  background-color: #1f2937;
}

.avatar > svg {
  height: 90%;
  width: 90%;
  transform: translateY(5px);
  color: whitesmoke;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-like {
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
}

.subsection {
  color: grey;
  font-size: 0.9em;
}

.button {
  background-image: linear-gradient(to bottom, #22e5dc, #3f86ef);
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #000;
}

.button:hover {
  color: #000;
}

.button.active {
  background: #000;
  color: transparent;
  background-clip: text;
  background: linear-gradient(45deg, #22e5dc, #3f86ef);
  -webkit-background-clip: text;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.subscribe-button.active:hover {
  background-color: #f43f5e;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0;
}

.tags p {
  background-color: lightgrey;
  border-radius: 12px;
  padding: 10px;
  color: #000;
}

.error-msg {
  color: red;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  float: left;
  margin: 0;
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: whiteSmoke;
  box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
}

.loader {
  background: linear-gradient(to right, #22e5dc, #3f86ef 50%, transparent 50%);
  animation: spin 1s infinite linear;
}

.loader:before {
  display: block;
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: #222;
  border-radius: 50%;
}

.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 400px;
}

.container form input {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
  color: #000;
}

.container form button {
  display: block;
  width: 100%;
  background-image: linear-gradient(to right, #22e5dc, #3f86ef);
  border-radius: 12px;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.upload form {
  display: flex;
  flex-direction: column;
}

.upload form input {
  margin-bottom: 30px;
}

.commentForm {
  margin: 20px 0;
}

.commentForm input,
.commentForm input:focus:active {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid lightgray;
  background: transparent;
  margin-right: 20px;
}

.comment {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 300ms ease;
}

.comment .actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.comment.removing {
  grid-template-rows: 0fr;
}

/* Modal styles */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modal {
  background: #242424;
  padding: 1.5rem;
  border-radius: 12px;
  width: 300px;
  border: 2px solid linear-gradient(to right, #22e5dc, #3f86ef);
}

.modal-actions {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media only screen and (max-width: 480px) {
  main {
    font-size: 0.8em;
  }

  .video-container {
    width: 100vw;
  }

  aside {
    float: left;
    width: 100vw;
    padding: 5px;
  }

  #search {
    display: none;
  }
}
